
/**** TAG SELECTOR ****/

body {
    margin: 0;
}

h1:hover {
    background-color: #94b4a4;
}

h1 {
    margin: 0;
}

div {
    background-color: #d2f5e3;
}

/* p {
    color: white;
    font-size: 200%;
} */

/**** CLASS SELECTOR ****/
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    /* border: 3px solid green; */
}

.fit-picture {
    width: 20%;
}

/**** ID SELECTOR ****/
#center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    /* border: 3px solid green; */
}
