
body {
    font-family: "Montserrat";
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat";
    font-weight: 700;
}


p {
    color: #8f8f8f;
    /* margin-top: 5px; */
}

/**** CLASS SELECTOR ****/

/* Headings */
.big-heading {
    font-size: 3rem;
    font-family: "Montserrat";
    font-weight: 900;
    line-height: 1.5;
}

.section-heading {
    font-size: 3rem;
    line-height: 1.5;
}

.zhong {
    line-height: 2;
    color: #fff;
}


.container-fluid {
    padding: 7% 15%;
}

/* Sections */
.colored-section {
    background-color: #0278ae;
    color: #fff;
}

.white-section {
    background-color: #fff;
}



/* Navigation Bar */

.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
}

.navbar {
    padding: 0 0 3.5rem;
}

.nav-item {
    margin: 0 18px;
}




/* Donwload Button */
.download-button {
    margin: 0 3% 3%
}

/* title section */


#title .container-fluid {
    text-align: left;
    padding: 3% 7% 15%;
}

/* Title Image */
.title-img {
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    right: 30%;
}


/* Features Section */

#features {
    color: #8f8f8f;
    
    position: relative;
    z-index: 1;
}

.features-icon {
    color: #51adcf;
    margin-bottom: 1rem;
}

.features-icon:hover {
    color: #8f8f8f;
}

.feature-title {
    font-size: 1.5rem;
}


/**** testimonial section ****/

#testimonials {
    background-color: #51adcf;
    
}


.testimonial-image {
    width: 15%;
    border-radius: 100%;
    margin: 20px;
}

.press-logo {
    width: 15%;
    margin: 20px 50px 20px;
}


.testimonial-text {
    font-size: 3rem;
    line-height: 1.5;
}




/* press section */

#press {
    background-color: #51adcf;
    padding-bottom: 3%;
    
}

/* pricing section  */
#pricing {
    padding: 100px;
}

.pricing-column  {
    padding: 3% 2%;
}

.price-text {
    font-size: 3rem;
    line-height: 1.5;
}


/* CTA Section */


/* footer section  */

#footer {
    color:#fff;
}

.social-icon {
    margin: 5px 15px;
}

@media (max-width: 992px) {
    .title-img {
        position: static;
        width: 50%;
        transform: rotate(0);
    }

    h1 {
        font-size: 2rem;
        font-family: "Montserrat";
        font-weight: 700;
        line-height: 1;
        
    }

    #title {
        text-align: center;
    }

}




