/**** TAG SELECTOR ****/

body {
    margin: 0;
    text-align: center;
}

h1:hover {
    background-color: #94b4a4;
}

h1 {
    /* margin: 0 auto 0 auto;
    width: 10%; */
    margin-top: 0;

}

/* div {
    background-color: #d2f5e3;
} */

/* p {
    color: white;
    font-size: 200%;
} */

/**** CLASS SELECTOR ****/

.pro {
    text-decoration: underline;
}


.circular {
    border-radius: 100%;
}

.top-container {
    background-color: #d2f5e3;
    position: relative;
    padding-top: 100px;;
}

.square200 {
    width: 200px;
    height: 200px;
}

.middle-container {
    background-color: gold;
    /* border: 20px solid red; */
    /* margin-left: 260px; */
}

.bottom-container {
    background-color: greenyellow;
    /* border: 10px solid blue; */
    /* margin-left: 500px; */
}

.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
}


/**** ID SELECTOR ****/
#center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    /* border: 3px solid green; */
}
