/* 
body {
    background-color: #ff4c68;
} */

h1 {
    font-size: 3rem;
    font-family: "Montserrat";
    font-weight: 900;
    line-height: 1.5;

    color: white;
}

.container-fluid {
    padding: 3% 15%;
}

/**** ID SELECTOR ****/

#title {
    background-color: #ff4c68; /* #FF4C68 */
}
