body {
    font-family: "Ubuntu";
    text-align: center;
}

.chinese {
    font-family: 'Noto Sans TC', sans-serif;
}

.img-logo {
    width: 20%;
}

/* Navigation Bar */

.navbar-brand {
    font-size: 2.5rem;
}

/* Sections */
.colored-section {
    background-color: #07689f;
    color: #fff;
}

.white-section {
    background-color: #fff;
}

.press-section {
    background-color: #a2d5f2;;
}

.culture-section {
    background-color: #ff7e67;
    color: #fff;
}

/* title section */
#title .container-fluid {
    text-align: left;
    padding: 3% 7% 5%;
}

#title .zoom-img {
    zoom: 8%;
}

